* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar {
  max-width: 95.8%;
  margin: auto;
  text-align: justify;
}

.navbar:after {
  content: '';
  display: inline-block;
}

.wrap-title {
  width: 100%;
  margin: auto;
  text-align: justify;
}

.wrap-title::after {
  content: '';
  display: inline-block;
}

.type-wrap {
  max-width: 80.5%;
  margin: auto;
  text-align: justify;
}

.type-wrap::after {
  content: '';
  display: inline-block;
}

.achieves-wrap {
  max-width: 81.4%;
  margin: auto;
  text-align: justify;
}

.technology-wrap {
  max-width: 80.5%;
  margin: auto;
  text-align: justify;
}

.about_us-wrap {
  max-width: 80.5%;
  margin: auto;
  text-align: justify;
}

.partners-wrap {
  max-width: 80.5%;
  margin: auto;
  text-align: justify;
}

.form-wrap {
  max-width: 52%;
  margin: auto;
  text-align: justify;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AeonikPro-Light';
  src: url("../fonts/AeonikPro-Light.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AeonikPro-Regular';
  src: url("../fonts/AeonikPro-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope-Light';
  src: url("../fonts/Manrope-Light.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope-Bold';
  src: url("../fonts/Manrope-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'AeonikPro-Light', sans-serif;
  word-spacing: normal;
}

a {
  text-decoration: none;
}

.header {
  max-width: 100%;
  margin: auto;
  height: 100vh;
  min-height: 600px;
  background-size: cover;
  background-image: url("../img/wrap-header.png");
  background-repeat: no-repeat;
  background-position: center;
}

.wrap-title {
  font-family: 'Manrope-Bold', sans-serif;
}

.wrap-title__buttons {
  font-family: 'AeonikPro-Light', sans-serif;
}

.type-wrap__title {
  font-family: 'Manrope-Bold', sans-serif;
}

.achieves {
  background-color: #027E72;
  min-height: 1300px;
  width: 100%;
}

.technology {
  background-color: #027E72;
  min-height: 600px;
  width: 100%;
}

.about_us {
  width: 100%;
  min-height: 490px;
  background: url("../img/about_back.jpg");
}

.partners {
  width: 100%;
  min-height: 538px;
  background: white;
}

.form {
  width: 100%;
  min-height: 730px;
  color: white;
  background-size: cover;
  background-image: url("../img/form-fon.png");
  background-repeat: no-repeat;
  background-position: center;
}

.PDF-icon {
  width: 30px;
  height: 30px;
}

.logo_navbar {
  color: #41485A;
}

.logo_navbar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 142px;
  height: 51px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo_navbar__logo-text {
  display: inline-block;
  font-family: 'Manrope-Bold', sans-serif;
  font-size: 24px;
  margin: auto;
}

.logo_navbar__logo-img {
  display: inline-block;
  width: 34px;
  height: 51px;
}

.navbar {
  color: #41485A;
  width: 100%;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 81px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #41485A;
  min-width: 200px;
}

.navbar-wrap-a {
  color: #41485A;
}

.navbar-wrap-gamburger {
  display: none;
}

.navbar__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #027E72 !important;
  font-family: 'AeonikPro-Regular', sans-serif;
  min-width: 320px;
  margin: auto;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  padding-left: 0;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: transparent;
  font-size: 20px;
  min-width: 88%;
  position: relative;
  left: 15px;
}

.menu-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-button {
  cursor: pointer;
  margin-right: 20px;
}

.menu-button.right {
  margin-right: 40px;
}

.wrap-title {
  height: 80%;
}

.wrap-title__sub {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-column-gap: 65px;
          column-gap: 65px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px auto;
}

.wrap-title__sub-title {
  font-family: 'AeonikPro-Light', sans-serif;
  position: relative;
  display: block;
  width: auto;
  font-size: 25px;
  margin-top: 100px;
}

.wrap-title__main-title {
  display: block;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #262B39;
  font-size: 120px;
  margin-bottom: 10px;
  margin-top: -20px;
  font-family: 'AeonikPro-Light', sans-serif;
}

.wrap-title__description {
  font-family: 'AeonikPro-Light', sans-serif;
  position: relative;
  color: #2B2D36;
  font-size: 25px;
  display: block;
  margin-top: 100px;
}

.wrap-title__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  text-align: center;
  margin-top: 16vh;
}

.wrap-title__buttons-more {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #027E72;
  border: 1px solid #F49F0A;
  width: 259px;
  height: 47px;
  color: white;
  cursor: pointer;
}

.wrap-title__buttons-more-text {
  margin-top: 10px;
  font-size: 25px;
}

.tex-types {
  width: 100%;
  min-height: 700px;
  background-color: #E6EBE0;
}

.type-wrap {
  height: 709px;
}

.type-wrap__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 73px;
  top: 10.5%;
  color: #262B39;
  font-size: 64px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.type-wrap__slider-slider {
  top: 12%;
  height: 540px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 100%;
}

#general {
  width: 100%;
}

.slides {
  width: 280px;
  height: 480px;
  display: inline-block;
  margin: 50px auto;
  position: relative;
  -ms-flex-line-pack: center;
      align-content: center;
  left: 25px;
}

.slide1 {
  color: #262B39;
}

.slide1-title {
  position: relative;
  font-size: 64px;
  margin: auto;
}

.slide1-cont {
  position: relative;
  font-size: 18px;
  line-height: 27px;
  text-align: left;
  width: 100%;
  margin-bottom: 20px;
}

.slide1-icons {
  width: 150px;
  position: relative;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide1-ic2 {
  margin-left: 20px;
}

.slide1-ic3 {
  margin-left: 20px;
}

.slide1-contain {
  margin-top: 20px;
  position: relative;
  width: 174px;
}

.slide2 {
  color: #027E72;
}

.slide2-title {
  position: relative;
  font-size: 64px;
  margin: auto;
}

.slide2-cont {
  position: relative;
  font-size: 18px;
  line-height: 27px;
  width: 250px;
  text-align: justify;
  margin-bottom: 20px;
}

.slide2-icons {
  width: 150px;
  position: relative;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide2-ic2 {
  margin-left: 20px;
}

.slide2-ic3 {
  margin-left: 20px;
}

.slide2-contain {
  position: relative;
  margin-top: 20px;
  width: 174px;
}

.slide3 {
  color: #615055;
}

.slide3-title {
  position: relative;
  font-size: 64px;
  margin: auto;
}

.slide3-cont {
  margin-bottom: 20px;
  position: relative;
  font-size: 18px;
  line-height: 27px;
  width: 250px;
  text-align: justify;
}

.slide3-icons {
  width: 150px;
  position: relative;
}

.slide3-contain {
  position: relative;
  margin-top: 20px;
  width: 174px;
}

.slide4-title {
  position: relative;
  font-size: 64px;
  margin: auto;
}

.slide4-cont {
  position: relative;
  font-size: 18px;
  line-height: 27px;
  width: 250px;
  text-align: left;
  margin-bottom: 20px;
}

.slide4-icons {
  width: 150px;
  position: relative;
}

.slide4-contain {
  position: relative;
  margin-top: 20px;
  width: 174px;
  text-align: left;
}

.slide5 {
  color: #027E72;
}

.slide5-title {
  position: relative;
  font-size: 64px;
  margin: auto;
}

.slide5-cont {
  position: relative;
  font-size: 18px;
  line-height: 27px;
  width: 250px;
  text-align: left;
  margin-bottom: 20px;
}

.slide5-icons {
  width: 150px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide5-ic2 {
  margin-left: 20px;
}

.slide5-contain {
  margin-top: 20px;
  position: relative;
  width: 174px;
  text-align: left;
}

.slide6 {
  color: #615055;
}

.slide6-title {
  position: relative;
  font-size: 64px;
  margin: auto;
}

.slide6-cont {
  margin-bottom: 20px;
  position: relative;
  font-size: 18px;
  line-height: 27px;
  width: 250px;
  text-align: left;
}

.slide6-icons {
  width: 150px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide6-contain {
  position: relative;
  width: 174px;
  margin-top: 20px;
  text-align: left;
}

.slide7-title {
  position: relative;
  font-size: 64px;
  margin: auto;
}

.slide7-cont {
  margin-bottom: 20px;
  position: relative;
  font-size: 18px;
  line-height: 27px;
  width: 250px;
  text-align: left;
}

.slide7-icons {
  width: 150px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide7-contain {
  position: relative;
  width: 174px;
  text-align: left;
  margin-top: 20px;
}

.slide8 {
  color: #027E72;
}

.slide8-title {
  position: relative;
  font-size: 64px;
  margin: auto;
}

.slide8-cont {
  margin-bottom: 20px;
  position: relative;
  font-size: 18px;
  line-height: 27px;
  width: 250px;
  text-align: left;
}

.slide8-icons {
  width: 150px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide8-contain {
  position: relative;
  margin-top: 20px;
  width: 174px;
  text-align: left;
}

.slide9 {
  color: #615055;
}

.slide9-title {
  position: relative;
  font-size: 64px;
  margin: auto;
}

.slide9-cont {
  margin-bottom: 20px;
  position: relative;
  font-size: 18px;
  line-height: 27px;
  width: 250px;
  text-align: left;
}

.slide9-icons {
  width: 150px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide9-contain {
  position: relative;
  margin-top: 20px;
  width: 174px;
  text-align: left;
}

.achieves-wrap {
  height: 1300px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.achieves-wrap-title {
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.achieves-wrap-title-text {
  color: white;
  position: relative;
  font-size: 64px;
  font-family: 'Manrope-Bold', sans-serif;
  width: 100%;
  padding-top: 60px;
}

.achieves-wrap-conts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: inherit;
  margin: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.achieves-wrap-cont1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: white;
  text-align: left;
  -webkit-column-gap: 120px;
          column-gap: 120px;
}

.achieves-wrap-cont1-left-block {
  display: inline-block;
  width: 450px;
}

.achieves-wrap-cont1-left-block__back {
  width: 450px;
  height: 241px;
  background-image: url(../img/cont1-left-block__back.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.achieves-wrap-cont1-left-block__title {
  font-size: 32px;
  margin-top: 57px;
  text-align: center;
}

.achieves-wrap-cont1-left-block__text {
  margin-top: 20px;
  font-size: 16px;
  width: 100%;
  text-align: left;
}

.achieves-wrap-cont1-right-block {
  display: inline-block;
  width: 450px;
}

.achieves-wrap-cont1-right-block__back {
  width: 448px;
  height: 239px;
  background-image: url(../img/cont1-right-block__back.png);
  background-position: center;
  background-repeat: no-repeat;
}

.achieves-wrap-cont1-right-block__title {
  font-size: 32px;
  margin-top: 57px;
  text-align: center;
}

.achieves-wrap-cont1-right-block__text {
  margin-top: 20px;
  font-size: 16px;
  width: 100%;
  text-align: left;
}

.achieves-wrap-cont2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  color: white;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 120px;
          column-gap: 120px;
  text-align: left;
  margin-top: 80px;
}

.achieves-wrap-cont2-left-block {
  display: inline-block;
  width: 450px;
}

.achieves-wrap-cont2-left-block__back {
  width: 450px;
  height: 241px;
  background-image: url(../img/cont2-left-block__back.png);
  background-position: center;
  background-repeat: no-repeat;
}

.achieves-wrap-cont2-left-block__title {
  font-size: 32px;
  margin-top: 57px;
  text-align: center;
}

.achieves-wrap-cont2-left-block__text {
  margin-top: 20px;
  font-size: 16px;
  width: 100%;
  text-align: left;
}

.achieves-wrap-cont2-right-block {
  display: inline-block;
  width: 450px;
}

.achieves-wrap-cont2-right-block__back {
  width: 448px;
  height: 239px;
  background-image: url(../img/cont2-right-block__back.png);
  background-position: center;
  background-repeat: no-repeat;
}

.achieves-wrap-cont2-right-block__title {
  font-size: 32px;
  margin-top: 57px;
  text-align: center;
}

.achieves-wrap-cont2-right-block__text {
  margin-top: 20px;
  font-size: 16px;
  width: 100%;
  text-align: left;
}

.technology-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.technology-wrap__title {
  color: white;
  position: absolute;
  margin-top: 103px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 64px;
  width: 100%;
  margin: 60px auto;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Manrope-Bold', sans-serif;
}

.technology-wrap__groups {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 200px;
  width: 100%;
}

.technology-wrap-gr1 {
  display: inline-block;
  width: 300px;
}

.technology-wrap-gr1__img {
  height: auto;
  width: auto;
  margin-left: 100px;
}

.technology-wrap-gr1__text {
  margin-top: 43px;
  font-size: 18px;
  color: white;
  text-align: left;
}

.technology-wrap-gr2 {
  display: inline-block;
  width: 300px;
}

.technology-wrap-gr2__img {
  height: auto;
  width: auto;
  margin-left: 100px;
}

.technology-wrap-gr2__text {
  margin-top: 43px;
  font-size: 18px;
  color: white;
  text-align: left;
}

.technology-wrap-gr3 {
  display: inline-block;
  width: 300px;
}

.technology-wrap-gr3__img {
  height: auto;
  width: auto;
  margin-left: 100px;
}

.technology-wrap-gr3__text {
  margin-top: 43px;
  font-size: 18px;
  color: white;
  text-align: left;
}

.about_us-wrap {
  height: 363px;
  position: relative;
  display: block;
  text-align: left;
}

.about_us-wrap__title {
  position: relative;
  width: 100%;
}

.about_us-wrap__title-text {
  color: #2B2D36;
  position: relative;
  font-size: 64px;
  font-family: 'Manrope-Bold', sans-serif;
  width: 100%;
  text-align: center;
  padding-top: 50px;
}

.about_us-wrap__text {
  position: relative;
  top: 50px;
  color: #2B2D36;
  font-size: 18px;
  font-family: 'AeonikPro-Regular', sans-serif;
}

.about_us-wrap__sub-title-text {
  font-family: 'AeonikPro-Regular', sans-serif;
  font-size: 36px;
  color: #2B2D36;
  position: relative;
  top: 100px;
  width: 100%;
  text-align: center;
}

.about_us-wrap__PDF {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 160px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

.about_us-wrap__sign {
  position: relative;
  top: 320px;
  color: #2B2D36;
  max-width: 805px;
  font-size: 18px;
  font-family: 'AeonikPro-Regular', sans-serif;
}

.PDF-icon {
  -webkit-transform: scale(2);
          transform: scale(2);
  margin-bottom: 20px;
}

.partners-wrap {
  height: 363px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.partners-wrap__title {
  font-size: 64px;
  font-family: 'Manrope-Bold', sans-serif;
  position: absolute;
  margin-top: 100px;
}

.partners-wrap__logos {
  width: 100%;
  max-height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 240px;
}

.partners-wrap__logos > img {
  height: auto;
  width: auto;
}

input:-webkit-autofill {
  color: #ffffff !important;
}

textarea:focus, input:focus {
  outline: none;
}

.form-wrap {
  display: block;
  position: relative;
  min-height: 600px;
  color: white;
  font-family: 'AeonikPro-Regular', sans-serif;
}

.form-wrap__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: absolute;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 70px auto;
}

.form-wrap__contact {
  width: 50%;
  height: 320px;
  margin: auto;
}

.form-wrap__contact-title {
  font-size: 36px;
}

.form-wrap__contact-title-obr {
  position: absolute;
  border-radius: 200px / 30px;
  max-width: 300.02px;
  min-width: 170px;
  height: 45.56px;
  opacity: 0.8;
  margin-right: 40px;
  border: 1px solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: rotate(7.28deg);
          transform: rotate(7.28deg);
}

.form-wrap__contact-phone {
  margin-top: 44px;
}

.form-wrap__contact-email {
  margin-top: 44px;
}

.form-wrap__form {
  width: 50%;
  height: 320px;
  margin: auto;
}

.form-wrap__form-title {
  font-size: 36px;
}

.form-wrap__buttons {
  height: 300px;
}

.form-wrap__buttons-name {
  background-color: transparent;
  border: none;
  color: white;
  width: 100%;
  padding-left: 5px;
}

.form-wrap__buttons-phone {
  background-color: transparent;
  border: none;
  color: white !important;
  width: 100%;
  padding-left: 5px;
}

.form-wrap__buttons-email {
  background-color: transparent;
  border: none;
  color: white;
  width: 100%;
  padding-left: 5px;
}

.form-wrap__buttons-message {
  background-color: transparent;
  border: none;
  color: white;
  width: 100%;
  height: 90px;
  resize: none;
  color: white;
  padding: 10px;
}

.form-wrap__buttons-submit {
  display: block;
  background-color: transparent;
  border: none;
  color: white;
  width: 100%;
  margin-top: 12px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}

.form-wrap__labels-name {
  display: block;
  margin-top: 40px;
  border-bottom: 1px solid #FFFFFF;
}

.form-wrap__labels-phone {
  display: block;
  margin-top: 40px;
  border-bottom: 1px solid #FFFFFF;
}

.form-wrap__labels-email {
  display: block;
  margin-top: 40px;
  border-bottom: 1px solid #FFFFFF;
}

.form-wrap__labels-text {
  display: block;
  margin-top: 40px;
  border: 1px solid #FFFFFF;
  border-radius: 11px;
}

.form-wrap__labels-button {
  display: block;
  border: 1px solid #FFFFFF;
  width: 60%;
  height: 47px;
  margin: 10px auto;
  cursor: pointer;
}

.subtitle {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  font-size: 14px;
  margin: 650px auto;
}

.subtitle-name {
  position: relative;
  width: 150px;
}

.subtitle-INN {
  position: relative;
  width: 150px;
  color: white !important;
}

input:focus:-webkit-input-placeholder {
  color: transparent;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus::-moz-input-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus:-webkit-input-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus::-moz-input-placeholder {
  color: transparent;
}

textarea:focus:-ms-input-placeholder {
  color: transparent;
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .header {
    height: 100vh;
  }
  body.lock {
    overflow: hidden;
  }
  .navbar-wrap {
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    z-index: 4;
    background-color: #e6ebe0;
  }
  .navbar:before {
    content: '';
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 60vh;
    background-color: #e6ebe0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 1;
  }
  .navbar.active::before {
    top: 0;
  }
  .menu {
    display: block;
    text-align: right;
    position: fixed;
    top: -150%;
    background-color: #e6ebe0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 2;
  }
  .menu.active {
    top: 80px;
  }
  .menu-buttons {
    z-index: 2;
    display: block;
    padding: 0;
  }
  .menu-button {
    margin: 0 0 40px 0;
  }
  .navbar__contacts {
    display: block;
    padding: 0;
    width: 100%;
    text-align: right;
  }
  .navbar__mobile {
    margin-top: -7px;
  }
  .navbar__email {
    margin-top: 30px;
  }
  .logo_navbar__logo {
    margin-left: 20px;
  }
  .navbar-wrap-gamburger {
    display: block;
    position: relative;
    width: 20px;
    height: 12px;
    margin-right: 20px;
  }
  .navbar-wrap-gamburger span, .navbar-wrap-gamburger::before, .navbar-wrap-gamburger::after {
    content: '';
    background-color: #027E72;
    position: absolute;
    width: 100%;
    height: 1.5px;
    left: 0;
    top: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .navbar-wrap-gamburger span {
    top: 6px;
  }
  .navbar-wrap-gamburger::before {
    top: -6px;
  }
  .navbar-wrap-gamburger::after {
    bottom: -6px;
  }
  .navbar-wrap-gamburger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .navbar-wrap-gamburger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 0px;
  }
  .navbar-wrap-gamburger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 2px;
  }
  .wrap-title__main-title {
    font-family: "AeonikPro-Light";
    font-size: 45px;
    text-align: center;
    width: 100%;
    margin-top: 70px;
  }
  .wrap-title__sub-title, .wrap-title__description {
    font-size: 16px;
    margin: auto;
  }
  .wrap-title {
    background-image: url("../img/wrap-header.png");
    background-position: center;
    height: 95%;
    background-repeat: no-repeat;
  }
  .header {
    background-color: #dfe0e4;
    background-image: none;
  }
  .wrap-title__buttons {
    margin-top: 45vh;
  }
  .wrap-title__sub {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .technology {
    min-height: 950px;
  }
  .technology-wrap__groups {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 50px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
    width: calc(320px);
    margin: 0 auto;
    text-align: left;
  }
  .technology-wrap__title {
    font-size: 42px;
    width: 100%;
    margin: 30px auto;
    text-align: center;
    display: inline-block;
  }
  .technology-wrap-gr1 {
    width: 100%;
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 40px;
            column-gap: 40px;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .technology-wrap-gr1__text {
    font-size: 12px;
    width: 55%;
    display: inline-block;
  }
  .technology-wrap-gr1__img {
    width: 93px;
    height: 84px;
    display: inline-block;
    margin-top: 70px;
    margin-left: 0;
  }
  .technology-wrap-gr2 {
    margin-top: 50px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 40px;
            column-gap: 40px;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .technology-wrap-gr2__text {
    font-size: 12px;
    width: 55%;
    display: inline-block;
  }
  .technology-wrap-gr2__img {
    width: 75px;
    height: 75px;
    display: inline-block;
    margin-top: 70px;
    margin-left: 0;
  }
  .technology-wrap-gr3 {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 40px;
            column-gap: 40px;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .technology-wrap-gr3__text {
    font-size: 12px;
    width: 55%;
    display: inline-block;
  }
  .technology-wrap-gr3__img {
    width: 75px;
    height: 75px;
    display: inline-block;
    margin-top: 60px;
    margin-left: 0;
  }
  .tex-types {
    height: 700px;
  }
  .type-wrap__slider {
    height: 510px;
  }
  .type-wrap__title {
    font-size: 42px;
  }
  .type-wrap__slider-slider {
    height: 510px;
    min-width: 320px;
  }
  .slides {
    height: 510px;
    min-width: 320px;
  }
  .slide1-title, .slide2-title, .slide3-title, .slide4-title, .slide5-title, .slide6-title, .slide7-title, .slide8-title, .slide9-title {
    font-size: 42px;
  }
  .achieves {
    height: 2300px;
  }
  .achieves-wrap {
    max-width: 85%;
    margin: auto;
    text-align: justify;
  }
  .achieves-back {
    height: 320px;
  }
  .achieves-wrap-title-text {
    font-size: 32px;
    padding-top: 60px;
  }
  .achieves-wrap-conts {
    display: block;
    margin: 60px auto;
    max-width: inherit;
  }
  .achieves-wrap-cont1, .achieves-wrap-cont2 {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    color: white;
    width: 100%;
    text-align: left;
    margin-top: 0px;
  }
  .achieves-wrap-cont2 {
    margin-top: 100px;
  }
  .achieves-wrap-cont1-left-block, .achieves-wrap-cont1-right-block, .achieves-wrap-cont2-left-block,
  .achieves-wrap-cont2-right-block, .achieves-wrap-cont3-left-block, .achieves-wrap-cont3-right-block {
    width: 100%;
  }
  .achieves-wrap-cont1-left-block__back, .achieves-wrap-cont1-right-block__back, .achieves-wrap-cont2-left-block__back,
  .achieves-wrap-cont2-right-block__back, .achieves-wrap-cont3-left-block__back, .achieves-wrap-cont3-right-block__back {
    width: auto;
  }
  .achieves-wrap-cont1-right-block, .achieves-wrap-cont2-right-block {
    margin-top: 100px;
  }
  #about {
    height: 670px;
  }
  .about_us-wrap__title-text {
    font-size: 42px;
    font-weight: normal;
    padding-top: 50px;
  }
  .about_us-wrap {
    height: 700px;
    display: block;
  }
  .about_us-wrap__text {
    min-height: 400px;
    top: 140px;
  }
  .about_us-wrap__PDF {
    top: 25px;
  }
  .about_us-wrap__sign {
    top: 50px;
  }
  .about_us-wrap__sub-title-text {
    font-size: 32px;
    top: -45px;
  }
  .form-wrap__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    height: 950px;
    margin-top: 0;
  }
  .form-wrap__contact {
    margin-top: 355px;
    text-align: center;
  }
  .form-wrap__contact-title {
    font-size: 32px;
  }
  .subtitle {
    margin-top: 950px;
  }
  .form-wrap {
    max-width: 100%;
    height: 1000px;
  }
  .form {
    height: 1000px;
  }
  .form-wrap__labels-button {
    width: 100%;
  }
  .form-wrap__buttons-submit {
    width: 100%;
  }
  .form-wrap__form-title {
    font-size: 42px;
    text-align: center;
    margin: 40px auto;
    width: 120%;
    margin-left: -20px;
  }
  .form-wrap__contact-title-obr {
    margin-left: 10%;
    border-radius: 90px / 15px;
    width: 170px;
    height: 40px;
    opacity: 0.8;
    margin-left: calc(inherit + 10px);
    border: 1px solid #fff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transform: rotate(7.28deg);
            transform: rotate(7.28deg);
  }
  .technology-wrap-gr1__text {
    font-size: 14px;
  }
  .technology-wrap-gr2__text {
    font-size: 14px;
  }
  .technology-wrap-gr3__text {
    font-size: 14px;
  }
  .technology-wrap-gr1__img {
    width: 60px;
    height: 60px;
    display: inline-block;
    margin-top: 80px;
    margin-left: 0;
  }
  .technology-wrap-gr2__img {
    width: 60px;
    height: 60px;
    display: inline-block;
    margin-top: 110px;
    margin-left: 0;
  }
  .technology-wrap-gr3__img {
    width: 66px;
    height: 60px;
    display: inline-block;
    margin-top: 80px;
    margin-left: 0;
  }
  .technology-wrap__title {
    font-size: 42px;
  }
  .achieves {
    height: calc(2750px);
  }
  .form-wrap__contact-title-obr {
    margin-left: 0;
  }
}

@media only screen and (min-width: 600.1px) and (max-width: 879px) {
  .header {
    height: 100vh;
  }
  body.lock {
    overflow: hidden;
  }
  .navbar-wrap {
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    z-index: 4;
    background-color: #e6ebe0;
  }
  .navbar:before {
    content: '';
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 60vh;
    background-color: #e6ebe0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 1;
  }
  .navbar.active::before {
    top: 0;
  }
  .menu {
    display: block;
    text-align: right;
    position: fixed;
    top: -150%;
    background-color: #e6ebe0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 2;
  }
  .menu.active {
    top: 80px;
  }
  .menu-buttons {
    z-index: 2;
    display: block;
    padding: 0;
  }
  .menu-button {
    margin: 0 0 40px 0;
  }
  .navbar__contacts {
    display: block;
    padding: 0;
    width: 100%;
    text-align: right;
  }
  .navbar__mobile {
    margin-top: -7px;
  }
  .navbar__email {
    margin-top: 30px;
  }
  .logo_navbar__logo {
    margin-left: 20px;
  }
  .navbar-wrap-gamburger {
    display: block;
    position: relative;
    width: 20px;
    height: 12px;
    margin-right: 20px;
  }
  .navbar-wrap-gamburger span, .navbar-wrap-gamburger::before, .navbar-wrap-gamburger::after {
    content: '';
    background-color: #027E72;
    position: absolute;
    width: 100%;
    height: 1.5px;
    left: 0;
    top: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .navbar-wrap-gamburger span {
    top: 6px;
  }
  .navbar-wrap-gamburger::before {
    top: -6px;
  }
  .navbar-wrap-gamburger::after {
    bottom: -6px;
  }
  .navbar-wrap-gamburger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .navbar-wrap-gamburger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 0px;
  }
  .navbar-wrap-gamburger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 2px;
  }
  .wrap-title__main-title {
    font-size: 60px;
    text-align: center;
    margin-top: 70px;
  }
  .wrap-title {
    background-image: url("../img/wrap-header.png");
    background-position: center;
    height: 95%;
    background-repeat: no-repeat;
  }
  .header {
    background-color: #dfe0e4;
    background-image: none;
  }
  .wrap-title__buttons {
    margin-top: 45vh;
  }
  .wrap-title__sub {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .wrap-title__sub-title, .wrap-title__description {
    margin: auto;
    text-align: center;
    font-size: 16px;
  }
  .technology {
    min-height: 950px;
  }
  .technology-wrap__groups {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 50px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
    width: calc(320px);
    margin: 0 auto;
    text-align: left;
  }
  .technology-wrap__title {
    font-size: 42px;
    width: 100%;
    margin: 30px auto;
    text-align: center;
    display: inline-block;
  }
  .technology-wrap-gr1 {
    width: 100%;
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 40px;
            column-gap: 40px;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .technology-wrap-gr1__text {
    font-size: 12px;
    width: 55%;
    display: inline-block;
  }
  .technology-wrap-gr1__img {
    width: 93px;
    height: 84px;
    display: inline-block;
    margin-top: 70px;
    margin-left: 0;
  }
  .technology-wrap-gr2 {
    margin-top: 50px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 40px;
            column-gap: 40px;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .technology-wrap-gr2__text {
    font-size: 12px;
    width: 55%;
    display: inline-block;
  }
  .technology-wrap-gr2__img {
    width: 75px;
    height: 75px;
    display: inline-block;
    margin-top: 70px;
    margin-left: 0;
  }
  .technology-wrap-gr3 {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 40px;
            column-gap: 40px;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .technology-wrap-gr3__text {
    font-size: 12px;
    width: 55%;
    display: inline-block;
  }
  .technology-wrap-gr3__img {
    width: 75px;
    height: 75px;
    display: inline-block;
    margin-top: 60px;
    margin-left: 0;
  }
  .tex-types {
    height: 700px;
  }
  .type-wrap__slider {
    height: 510px;
  }
  .type-wrap__title {
    font-size: 42px;
  }
  .type-wrap__slider-slider {
    height: 510px;
    min-width: 320px;
  }
  .slides {
    height: 510px;
    min-width: 320px;
  }
  .slide1-title, .slide2-title, .slide3-title, .slide4-title, .slide5-title, .slide6-title, .slide7-title, .slide8-title, .slide9-title {
    font-size: 42px;
  }
  .achieves {
    height: 2300px;
  }
  .achieves-wrap {
    max-width: 85%;
    margin: auto;
    text-align: justify;
  }
  .achieves-back {
    height: 320px;
  }
  .achieves-wrap-title-text {
    font-size: 32px;
    padding-top: 60px;
  }
  .achieves-wrap-conts {
    display: block;
    margin: 60px auto;
    max-width: inherit;
  }
  .achieves-wrap-cont1, .achieves-wrap-cont2 {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    color: white;
    width: 100%;
    text-align: left;
    margin-top: 0px;
  }
  .achieves-wrap-cont2 {
    margin-top: 100px;
  }
  .achieves-wrap-cont1-left-block, .achieves-wrap-cont1-right-block, .achieves-wrap-cont2-left-block,
  .achieves-wrap-cont2-right-block, .achieves-wrap-cont3-left-block, .achieves-wrap-cont3-right-block {
    width: 100%;
  }
  .achieves-wrap-cont1-left-block__back, .achieves-wrap-cont1-right-block__back, .achieves-wrap-cont2-left-block__back,
  .achieves-wrap-cont2-right-block__back, .achieves-wrap-cont3-left-block__back, .achieves-wrap-cont3-right-block__back {
    width: auto;
  }
  .achieves-wrap-cont1-right-block, .achieves-wrap-cont2-right-block {
    margin-top: 100px;
  }
  #about {
    height: 670px;
  }
  .about_us-wrap__title-text {
    font-size: 42px;
    font-weight: normal;
    padding-top: 50px;
  }
  .about_us-wrap {
    height: 700px;
    display: block;
  }
  .about_us-wrap__text {
    min-height: 400px;
    top: 140px;
  }
  .about_us-wrap__PDF {
    top: 25px;
  }
  .about_us-wrap__sign {
    top: 50px;
  }
  .about_us-wrap__sub-title-text {
    font-size: 32px;
    top: -45px;
  }
  .form-wrap__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    height: 950px;
    margin-top: 0;
  }
  .form-wrap__contact {
    margin-top: 355px;
    text-align: center;
  }
  .form-wrap__contact-title {
    font-size: 32px;
  }
  .subtitle {
    margin-top: 950px;
  }
  .form-wrap {
    max-width: 100%;
    height: 1000px;
  }
  .form {
    height: 1000px;
  }
  .form-wrap__labels-button {
    width: 100%;
  }
  .form-wrap__buttons-submit {
    width: 100%;
  }
  .form-wrap__form-title {
    font-size: 42px;
    text-align: center;
    margin: 40px auto;
    width: 120%;
    margin-left: -20px;
  }
  .form-wrap__contact-title-obr {
    margin-left: 10%;
    border-radius: 90px / 15px;
    width: 170px;
    height: 40px;
    opacity: 0.8;
    margin-left: calc(inherit + 10px);
    border: 1px solid #fff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transform: rotate(7.28deg);
            transform: rotate(7.28deg);
  }
  .technology-wrap-gr1__text {
    font-size: 16px;
  }
  .technology-wrap-gr2__text {
    font-size: 16px;
  }
  .technology-wrap-gr3__text {
    font-size: 16px;
  }
  .technology-wrap-gr1 {
    width: 400px;
  }
  .technology-wrap-gr2 {
    width: 400px;
  }
  .technology-wrap-gr3 {
    width: 400px;
  }
  .form-wrap__contact-title-obr {
    width: 210px;
  }
}

@media only screen and (min-width: 880px) and (max-width: 1252.9px) {
  .header {
    height: 100vh;
  }
  body.lock {
    overflow: hidden;
  }
  .navbar-wrap {
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    z-index: 4;
    background-color: #e6ebe0;
  }
  .navbar:before {
    content: '';
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 60vh;
    background-color: #e6ebe0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 1;
  }
  .navbar.active::before {
    top: 0;
  }
  .menu {
    display: block;
    text-align: right;
    position: fixed;
    top: -150%;
    background-color: #e6ebe0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 2;
  }
  .menu.active {
    top: 80px;
  }
  .menu-buttons {
    z-index: 2;
    display: block;
    padding: 0;
  }
  .menu-button {
    margin: 0 0 40px 0;
  }
  .navbar__contacts {
    display: block;
    padding: 0;
    width: 100%;
    text-align: right;
  }
  .navbar__mobile {
    margin-top: -7px;
  }
  .navbar__email {
    margin-top: 30px;
  }
  .logo_navbar__logo {
    margin-left: 20px;
  }
  .navbar-wrap-gamburger {
    display: block;
    position: relative;
    width: 20px;
    height: 12px;
    margin-right: 20px;
  }
  .navbar-wrap-gamburger span, .navbar-wrap-gamburger::before, .navbar-wrap-gamburger::after {
    content: '';
    background-color: #027E72;
    position: absolute;
    width: 100%;
    height: 1.5px;
    left: 0;
    top: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .navbar-wrap-gamburger span {
    top: 6px;
  }
  .navbar-wrap-gamburger::before {
    top: -6px;
  }
  .navbar-wrap-gamburger::after {
    bottom: -6px;
  }
  .navbar-wrap-gamburger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .navbar-wrap-gamburger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 0px;
  }
  .navbar-wrap-gamburger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 2px;
  }
  .wrap-title__main-title {
    font-size: 60px;
    text-align: center;
    margin-top: 70px;
  }
  .wrap-title {
    background-image: url("../img/wrap-header.png");
    background-position: center;
    height: 95%;
    background-repeat: no-repeat;
  }
  .header {
    background-color: #dfe0e4;
    background-image: none;
  }
  .wrap-title__buttons {
    margin-top: 45vh;
  }
  .wrap-title__sub {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrap-title__sub-title, .wrap-title__description {
    font-size: 16px;
  }
  .technology {
    min-height: 950px;
  }
  .technology-wrap__groups {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 50px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
    width: calc(320px);
    margin: 0 auto;
    text-align: left;
  }
  .technology-wrap__title {
    font-size: 42px;
    width: 100%;
    margin: 30px auto;
    text-align: center;
    display: inline-block;
  }
  .technology-wrap-gr1 {
    width: 100%;
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 40px;
            column-gap: 40px;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .technology-wrap-gr1__text {
    font-size: 12px;
    width: 55%;
    display: inline-block;
  }
  .technology-wrap-gr1__img {
    width: 93px;
    height: 84px;
    display: inline-block;
    margin-top: 70px;
    margin-left: 0;
  }
  .technology-wrap-gr2 {
    margin-top: 50px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 40px;
            column-gap: 40px;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .technology-wrap-gr2__text {
    font-size: 12px;
    width: 55%;
    display: inline-block;
  }
  .technology-wrap-gr2__img {
    width: 75px;
    height: 75px;
    display: inline-block;
    margin-top: 70px;
    margin-left: 0;
  }
  .technology-wrap-gr3 {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 40px;
            column-gap: 40px;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .technology-wrap-gr3__text {
    font-size: 12px;
    width: 55%;
    display: inline-block;
  }
  .technology-wrap-gr3__img {
    width: 75px;
    height: 75px;
    display: inline-block;
    margin-top: 60px;
    margin-left: 0;
  }
  .tex-types {
    height: 700px;
  }
  .type-wrap__slider {
    height: 510px;
  }
  .type-wrap__title {
    font-size: 42px;
  }
  .type-wrap__slider-slider {
    height: 510px;
    min-width: 320px;
  }
  .slides {
    height: 510px;
    min-width: 320px;
  }
  .slide1-title, .slide2-title, .slide3-title, .slide4-title, .slide5-title, .slide6-title, .slide7-title, .slide8-title, .slide9-title {
    font-size: 42px;
  }
  .achieves {
    height: 2300px;
  }
  .achieves-wrap {
    max-width: 85%;
    margin: auto;
    text-align: justify;
  }
  .achieves-back {
    height: 320px;
  }
  .achieves-wrap-title-text {
    font-size: 32px;
    padding-top: 60px;
  }
  .achieves-wrap-conts {
    display: block;
    margin: 60px auto;
    max-width: inherit;
  }
  .achieves-wrap-cont1, .achieves-wrap-cont2 {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    color: white;
    width: 100%;
    text-align: left;
    margin-top: 0px;
  }
  .achieves-wrap-cont2 {
    margin-top: 100px;
  }
  .achieves-wrap-cont1-left-block, .achieves-wrap-cont1-right-block, .achieves-wrap-cont2-left-block,
  .achieves-wrap-cont2-right-block, .achieves-wrap-cont3-left-block, .achieves-wrap-cont3-right-block {
    width: 100%;
  }
  .achieves-wrap-cont1-left-block__back, .achieves-wrap-cont1-right-block__back, .achieves-wrap-cont2-left-block__back,
  .achieves-wrap-cont2-right-block__back, .achieves-wrap-cont3-left-block__back, .achieves-wrap-cont3-right-block__back {
    width: auto;
  }
  .achieves-wrap-cont1-right-block, .achieves-wrap-cont2-right-block {
    margin-top: 100px;
  }
  #about {
    height: 670px;
  }
  .about_us-wrap__title-text {
    font-size: 42px;
    font-weight: normal;
    padding-top: 50px;
  }
  .about_us-wrap {
    height: 700px;
    display: block;
  }
  .about_us-wrap__text {
    min-height: 400px;
    top: 140px;
  }
  .about_us-wrap__PDF {
    top: 25px;
  }
  .about_us-wrap__sign {
    top: 50px;
  }
  .about_us-wrap__sub-title-text {
    font-size: 32px;
    top: -45px;
  }
  .form-wrap__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    height: 950px;
    margin-top: 0;
  }
  .form-wrap__contact {
    margin-top: 355px;
    text-align: center;
  }
  .form-wrap__contact-title {
    font-size: 32px;
  }
  .subtitle {
    margin-top: 950px;
  }
  .form-wrap {
    max-width: 100%;
    height: 1000px;
  }
  .form {
    height: 1000px;
  }
  .form-wrap__labels-button {
    width: 100%;
  }
  .form-wrap__buttons-submit {
    width: 100%;
  }
  .form-wrap__form-title {
    font-size: 42px;
    text-align: center;
    margin: 40px auto;
    width: 120%;
    margin-left: -20px;
  }
  .form-wrap__contact-title-obr {
    margin-left: 10%;
    border-radius: 90px / 15px;
    width: 170px;
    height: 40px;
    opacity: 0.8;
    margin-left: calc(inherit + 10px);
    border: 1px solid #fff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transform: rotate(7.28deg);
            transform: rotate(7.28deg);
  }
  .technology-wrap-gr1__text {
    font-size: 16px;
  }
  .technology-wrap-gr2__text {
    font-size: 16px;
  }
  .technology-wrap-gr3__text {
    font-size: 16px;
  }
  .technology-wrap-gr1 {
    width: 400px;
  }
  .technology-wrap-gr2 {
    width: 400px;
  }
  .technology-wrap-gr3 {
    width: 400px;
  }
  .form-wrap__contact-title-obr {
    width: 250px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 599px) {
  .slides {
    left: 0;
  }
}

@media only screen and (min-width: 1253px) and (max-width: 1400px) {
  .form-wrap__contact-title-obr {
    width: 300px;
  }
  .navbar__email {
    min-width: 131px;
  }
  .navbar__contacts {
    margin-right: 20px;
  }
  .navbar__mobile {
    min-width: 150px;
  }
}

@media only screen and (min-width: 1824px) {
  .achieves-wrap {
    max-width: 71.4%;
    margin: auto;
    text-align: justify;
  }
  .form-wrap__contact-title-obr {
    width: 300px;
  }
}
