* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 95.8%;
  margin: auto;
  text-align: justify;
}

.container::after {
  content: '';
  display: inline-block;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AeonikPro-Light';
  src: url("../fonts/AeonikPro-Light.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AeonikPro-Regular';
  src: url("../fonts/AeonikPro-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope-Light';
  src: url("../fonts/Manrope-Light.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope-Bold';
  src: url("../fonts/Manrope-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'AeonikPro-Light', sans-serif;
}

.header {
  max-width: 100%;
  margin: auto;
  height: 839px;
  background-size: cover;
  background-image: url(https://ic.wampi.ru/2021/09/28/pexels-yan-krukov-4496963.png);
  background-repeat: no-repeat;
  background-position: center;
}

.wrap-title {
  font-family: 'Manrope-Bold', sans-serif;
}

.logo_navbar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 142px;
  height: 51px;
}

.logo_navbar__logo-text {
  display: inline-block;
  font-family: 'Manrope-Bold', sans-serif;
  font-size: 24px;
  margin: auto;
}

.logo_navbar__logo-img {
  display: inline-block;
  width: 34px;
  height: 51px;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 81px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navbar__contacts {
  width: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  font-size: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 90px;
}

.menu-button {
  display: inline-block;
  max-width: 146px;
  margin-right: 90px;
}

.wrap-title {
  height: 788px;
  width: 100%;
}

.wrap-title__main-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #262B39;
  font-size: 120px;
}

.wrap-title__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  color: #2B2D36;
  font-size: 16px;
  top: 12%;
  width: 100%;
}

.wrap-title__description-1 {
  display: inline-block;
  margin-left: 10%;
}

.wrap-title__description-2 {
  display: inline-block;
  margin-right: 10%;
}
