*
    box-sizing: border-box
.navbar
    max-width: 95.8%
    margin: auto
    text-align: justify
.navbar:after
    content: ''
    display: inline-block
.wrap-title
    width: 100%
    margin: auto
    text-align: justify
.wrap-title::after
    content: ''
    display: inline-block
.type-wrap
    max-width: 80.5%
    margin: auto
    text-align: justify
.type-wrap::after
    content: ''
    display: inline-block
.achieves-wrap
    max-width: 71.4%
    margin: auto
    text-align: justify
.technology-wrap
    max-width: 80.5%
    margin: auto
    text-align: justify
.about_us-wrap
    max-width: 80.5%
    margin: auto
    text-align: justify
.partners-wrap
    max-width: 80.5%
    margin: auto
    text-align: justify
.form-wrap
    max-width: 52%
    margin: auto
    text-align: justify