body 
    +light
.header
    max-width: 1440px
    margin: auto
    height: 839px
    background-image: url(https://ic.wampi.ru/2021/09/28/pexels-yan-krukov-4496963.png)
    background-repeat: no-repeat
    background-position: center