body 
    +light
a
    text-decoration: none
.header
    max-width: 100%
    margin: auto
    height: 839px
    background-size: cover
    background-image: url(https://ic.wampi.ru/2021/09/28/pexels-yan-krukov-4496963.png)
    background-repeat: no-repeat
    background-position: center
.wrap-title
    +bold-logo
    &__buttons
        +light
.type-wrap__title
    +bold-logo
.achieves
    background-color: #262B39
    height: 2331px
    max-width: 100%