.about_us-wrap
    height: 363px
    position: relative
    display: block
    text-align: left
    &__title
        position: relative
        &-obr
            position: absolute
            -webkit-border-radius: 128px / 57px
            border-radius: 128px / 57px
            width: 256.53px
            height: 117.48px
            opacity: 0.8
            border: 1px solid #2B2D36
            box-sizing: border-box
            transform: rotate(-12.54deg)
            margin-top: 48px
        &-text
            color: #2B2D36
            position: absolute
            font-size: 64px
            +bold-logo
            margin-top: 68px
            margin-left: 33px
            width: 200px
    &__text
        position: relative
        top: 220px
        color: #2B2D36
        // max-width: 1029px
        font-size: 18px
        +bold
    &__sub-title-text
        +bold
        font-size: 36px
        color: #2B2D36
        position: relative
        top: 240px
        width: 100%
        text-align: center
    &__PDF
        position: relative
        width: 100%
        display: flex
        top: 270px
        justify-content: space-between
        align-content: center
    &__sign
        position: relative
        top: 320px
        color: #2B2D36
        max-width: 805px
        font-size: 18px
        +bold
.PDF-icon
    transform: scale(2)
    margin-bottom: 20px