@mixin mobile-about {
    #about {
        height: 670px;
    }

    .about_us-wrap__title {
        font-size: 32px;
    }

    .about_us-wrap {
        height: 700px;
        display: block;
    }

    .about_us-wrap__text {
        min-height: 400px;
    }

    .about_us-wrap__PDF {
        top: 100px
    }

    .about_us-wrap__sign {
        top: 150px;
    }

    .about_us-wrap__sub-title-text {
        font-size: 48px;
        top: 0;
    }
}