@mixin mobile-about {
    #about {
        height: 670px;
    }

    .about_us-wrap__title-text {
        font-size: 42px;
        font-weight: normal;
        padding-top: 50px;
    }

    .about_us-wrap {
        height: 700px;
        display: block;
    }

    .about_us-wrap__text {
        min-height: 400px;
        top: 140px;
    }

    .about_us-wrap__PDF {
        top: 25px;
    }

    .about_us-wrap__sign {
        top: 50px;
    }

    .about_us-wrap__sub-title-text {
        font-size: 32px;
        top: -45px;
    }
}