@mixin mobile-achieves {
    .achieves {
        height: 4000px;
    }

    .achieves-wrap {
        max-width: 95%;
        margin: auto;
        text-align: justify;
    }

    .achieves-back {
        height: 320px;
    }
    .achieves-wrap-title-obr {
        margin-top: 70px;
        margin-left: 20px;
    }

    .achieves-wrap-title-text {
        font-size: 32px;
    }
    .achieves-wrap-conts {
        display: block;
        margin-top: 150px;
        max-width: 600px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .achieves-wrap-cont1, .achieves-wrap-cont2, .achieves-wrap-cont3 {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        flex-wrap: wrap;
        color: white;
        width: 100%;
        text-align: left;
        margin-top: 100px;
    }
    .achieves-wrap-cont1-left-block, .achieves-wrap-cont1-right-block, .achieves-wrap-cont2-left-block, 
    .achieves-wrap-cont2-right-block, .achieves-wrap-cont3-left-block, .achieves-wrap-cont3-right-block {
        width: 100%;
    }
    .achieves-wrap-cont1-left-block__back, .achieves-wrap-cont1-right-block__back, .achieves-wrap-cont2-left-block__back, 
    .achieves-wrap-cont2-right-block__back, .achieves-wrap-cont3-left-block__back, .achieves-wrap-cont3-right-block__back {
        width: auto;
    }
}