.achieves-wrap
    height: 1300px
    position: relative
    display: flex
    flex-direction: column
    justify-content: space-between
    &-title
        position: relative
        width: 100%
        margin: 0 auto
        text-align: center
        &-text
            // color: #2B2D36
            color: white
            position: relative
            font-size: 64px
            +bold-logo
            width: 100%
            padding-top: 60px
    &-conts
        display: flex
        flex-wrap: wrap
        width: inherit
        margin: auto
        justify-content: space-around
    &-cont1
        position: relative
        display: flex
        justify-content: space-between
        align-content: center
        flex-wrap: wrap
        color: white
        text-align: left
        column-gap: 120px
        &-left-block
            display: inline-block
            width: 450px
            &__back
                width: 450px
                height: 241px
                background-image: url(../img/cont1-left-block__back.png)
                background-repeat: no-repeat
                background-position: center
                transform: scale(1)
            &__title
                font-size: 32px
                margin-top: 57px
                text-align: center
            &__text
                margin-top: 20px
                font-size: 16px
                width: 100%
                text-align: left
        &-right-block
            display: inline-block
            width: 450px
            &__back
                width: 448px
                height: 239px
                background-image: url(../img/cont1-right-block__back.png)
                background-position: center
                background-repeat: no-repeat
            &__title
                font-size: 32px
                margin-top: 57px
                text-align: center
            &__text
                margin-top: 20px
                font-size: 16px
                width: 100%
                text-align: left
    &-cont2
        position: relative
        display: flex
        justify-content: space-between
        align-content: center
        color: white
        flex-wrap: wrap
        column-gap: 120px
        text-align: left
        margin-top: 80px
        &-left-block
            display: inline-block
            width: 450px
            &__back
                width: 450px
                height: 241px
                background-image: url(../img/cont2-left-block__back.png)
                background-position: center
                background-repeat: no-repeat
            &__title
                font-size: 32px
                margin-top: 57px
                text-align: center
            &__text
                margin-top: 20px
                font-size: 16px
                width: 100%
                text-align: left
        &-right-block
            display: inline-block
            width: 450px
            &__back
                width: 448px
                height: 239px
                background-image: url(../img/cont2-right-block__back.png)
                background-position: center
                background-repeat: no-repeat
            &__title
                font-size: 32px
                margin-top: 57px
                text-align: center
            &__text
                margin-top: 20px
                font-size: 16px
                width: 100%
                text-align: left
    // &-cont3
    //     position: relative
    //     display: flex
    //     justify-content: space-between
    //     align-content: center
    //     color: white
    //     flex-wrap: wrap
    //     width: 100%
    //     text-align: left
    //     &-left-block
    //         display: inline-block
    //         width: 450px
    //         margin-top: 100px
    //         &__back
    //             width: 450px
    //             height: 241px
    //             background-image: url(../img/cont3-left-block__back.png)
    //             background-position: left
    //             background-repeat: no-repeat
    //         &__title
    //             font-size: 32px
    //             margin-top: 57px
    //         &__text
    //             margin-top: 20px
    //             font-size: 16px
    //             width: 100%
    //     &-right-block
    //         display: inline-block
    //         width: 450px
    //         margin-top: 100px
    //         &__back
    //             width: 448px
    //             height: 239px
    //             background-image: url(../img/cont3-right-block__back.png)
    //             background-position: left
    //             background-repeat: no-repeat
    //         &__title
    //             font-size: 32px
    //             margin-top: 57px
    //         &__text
    //             margin-top: 20px
    //             font-size: 16px
    //             width: 100%