.form-wrap
    display: block
    position: relative
    height: 600px
    &__group
        display: flex
        width: 100%
        position: absolute
        justify-content: space-between
        margin:  30% auto
    &__contact
        width: 50%
        height: 320px
        margin: auto
    &__form
        width: 50%
        height: 320px
        margin: auto
    &__buttons
        height: 300px
        &-name
            background-color: transparent
            border: none
        &-phone
            background-color: transparent
            border: none
        &-message
            background-color: transparent
            border: none
        &-submit
            background-color: transparent
            border: none
    &__labels
        &-name
            display: block
            border-bottom: 1px solid #FFFFFF
        &-phone
            display: block
            border-bottom: 1px solid #FFFFFF
        &-text
            display: block
            border-bottom: 1px solid #FFFFFF
        &-button
            display: block
            border-bottom: 1px solid #FFFFFF
.subtitle
    position: absolute
    display: flex
    justify-content: center
    width: 100%
    font-size: 14px
    margin: 100% auto
    &-name
        position: relative
        width: 150px
    &-INN
        position: relative
        width: 150px