.form-wrap
    display: flex
    &__group
        display: flex
        justify-content: space-between
        width: 100%
    &__contact
        width: 228px
    &__form
        width: 383px
.subtitle
    display: flex
    justify-content: space-between
    max-width: 20%
    font-size: 14px
    position: relative
    margin: auto
    &-name
        max-width: 134px
    &-INN
        max-width: 123px