@mixin mobile-form {
    .form-wrap__group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    width: 100%;
    }
    .subtitle {
        margin-top: 950px;
    }
    .form-wrap {
        width: 100%;
    }
    .form {
        height: 1000px;
    }
    .form-wrap__labels-button {
        width: 100%;
    }
    .form-wrap__buttons-submit {
        width: 100%;
    }
}