@mixin mobile_header {
    .menu {
        display: none;
    }
    .navbar__contacts {
        display: none;
    }
    .navbar-wrap-gamburger {
        display: block;
        position: relative;
        width: 20px;
        height: 12px;
    }
    
    .navbar-wrap-gamburger span, .navbar-wrap-gamburger::before, .navbar-wrap-gamburger::after {
        content: '';
        background-color: #027E72;
        position: absolute;
        width: 100%;
        height: 1.5px;
        left: 0;
        top: 0;
    }

    .navbar-wrap-gamburger span{
        top: 6px;
    }

    .navbar-wrap-gamburger::before {
        top: -6px;
    }
    .navbar-wrap-gamburger::after {
        bottom: -6px;
    }
}