.logo_navbar
    &__logo
        display: inline-block
        width: 85px
        height: 45px
    &__img
        display: inline-block
        width: 85px
        height: 45px
.navbar
    &-wrap
        display: flex
        align-items: center
        justify-content: space-between
        min-height: 81px
        flex-wrap: wrap
        border-bottom: 1px solid #2B2D36
    &__contacts
        justify-content: center
        align-items: center
        display: block
.menu
    display: flex
    flex-direction: row
    align-items: center
    text-align: left
    justify-content: center
    background-color: transparent
    font-size: 20px
    max-width: 736px
    &-button
        display: inline-block
        max-width: 148px
        margin-right: 72px