.logo_navbar
    color:#41485A
    &__logo
        display: flex
        width: 142px
        height: 51px
        justify-content: space-between
        &-text
            display: inline-block
            +bold-logo
            font-size: 24px
            margin: auto
        &-img
            display: inline-block
            width: 34px
            height: 51px
.navbar
    color:#41485A
    &-wrap
        display: flex
        align-items: center
        justify-content: space-between
        min-height: 81px
        flex-wrap: wrap
        color:#41485A
        min-width: 200px
        &-a
            color:#41485A
        &-gamburger
            display: none
    &__contacts
        justify-content: space-between
        align-items: center
        display: flex
        color: #027E72
        +bold
    &__mobile
        margin-right: 13px
.menu
    display: flex
    flex-direction: row
    align-items: center
    text-align: center
    justify-content: space-between
    background-color: transparent
    font-size: 20px
    flex-wrap: wrap
    min-width: 60%
    margin-left: 30px
    &-button
        cursor: pointer