.logo_navbar
    &__logo
        display: inline-block
        width: 120px
        height: 45px
        margin: auto
    &__img
        display: inline-block
        width: 85px
        height: 45px
.navbar
    &-wrap
        display: flex
        align-items: center
        justify-content: space-between
        min-height: 81px
        flex-wrap: wrap
        border-bottom: 1px solid #2B2D36
    &__contacts
        width: 200px
        justify-content: center
        align-items: center
        display: block
        margin: auto
.menu
    display: flex
    flex-direction: row
    align-items: center
    text-align: center
    justify-content: center
    background-color: transparent
    font-size: 20px
    flex-wrap: wrap
    margin: auto
    &-button
        display: inline-block
        max-width: 146px
        margin-right: 90px