.tex-types
    width: 100%
    min-height: 700px
    background-color: #E6EBE0
.type-wrap
    height: 709px
    &__title
        display: flex
        position: relative
        height: 73px
        top: 10.5%
        color: #262B39
        font-size: 64px
        justify-content: center
    &__slider
        &-slider
            top: 12%
            height: 540px
            position: relative
            display: flex
            justify-content: space-between
            margin: 0 auto
            width: 100%
#general
    width: 100%
.slides
    width: 280px
    height: 480px
    display: inline-block
    margin: 50px auto
    position: relative
    align-content: center
    left: 25px
.slide1
    color: #262B39
    &-title
        position: relative
        font-size: 64px
        margin: auto
    &-cont
        position: relative
        font-size: 18px
        line-height: 27px
        text-align: left
        width: 100%
        margin-bottom: 20px
    &-icons
        width: 150px
        position: relative
        justify-content: space-around
        display: flex
    &-ic1
        
    &-ic2
        margin-left: 20px
    &-ic3
        margin-left: 20px
    &-contain
        margin-top: 20px
        position: relative
        width: 174px

.slide2
    color: #027E72
    &-title    
        position: relative
        font-size: 64px
        margin: auto
        
    &-cont
        position: relative
        font-size: 18px
        line-height: 27px
        width: 250px
        text-align: justify
        margin-bottom: 20px
    &-icons
        width: 150px
        position: relative
        justify-content: space-around
        display: flex
    &-ic1
        
    &-ic2
        margin-left: 20px
    &-ic3
        margin-left: 20px
    &-contain
        position: relative
        margin-top: 20px
        width: 174px
.slide3
    color: #615055
    &-title
        position: relative
        font-size: 64px
        margin: auto
        
    &-cont
        margin-bottom: 20px
        position: relative
        font-size: 18px
        line-height: 27px
        width: 250px
        text-align: justify
    &-icons
        width: 150px
        position: relative
    &-contain
        position: relative
        margin-top: 20px
        width: 174px
.slide4
    &-title
        position: relative
        font-size: 64px 
        margin: auto
        
    &-cont
        position: relative
        font-size: 18px
        line-height: 27px
        width: 250px
        text-align: left
        margin-bottom: 20px
    &-icons
        width: 150px
        position: relative
    &-contain
        position: relative
        margin-top: 20px
        width: 174px
        text-align: left
.slide5
    color: #027E72 
    &-title
        position: relative
        font-size: 64px
        margin: auto
        
    &-cont
        position: relative
        font-size: 18px
        line-height: 27px
        width: 250px
        text-align: left
        margin-bottom: 20px
    &-icons
        width: 150px
        position: relative
        display: flex
    &-ic2
        margin-left: 20px
    &-contain
        margin-top: 20px
        position: relative
        width: 174px
        text-align: left
.slide6
    color: #615055
    &-title
        position: relative
        font-size: 64px
        margin: auto
        
    &-cont
        margin-bottom: 20px
        position: relative
        font-size: 18px
        line-height: 27px
        width: 250px
        text-align: left
    &-icons
        width: 150px
        position: relative
        display: flex
    &-contain
        position: relative
        width: 174px
        margin-top: 20px
        text-align: left

.slide7
    &-title
        position: relative
        font-size: 64px
        margin: auto
        
    &-cont
        margin-bottom: 20px
        position: relative
        font-size: 18px
        line-height: 27px
        width: 250px
        text-align: left
    &-icons
        width: 150px
        position: relative
        display: flex
    &-contain
        position: relative
        width: 174px
        text-align: left
        margin-top: 20px
.slide8
    color: #027E72
    &-title
        position: relative
        font-size: 64px
        margin: auto
    &-cont
        margin-bottom: 20px
        position: relative
        font-size: 18px
        line-height: 27px
        width: 250px
        text-align: left
    &-icons
        width: 150px
        position: relative
        display: flex
    &-contain
        position: relative
        margin-top: 20px
        width: 174px
        text-align: left

.slide9
    color: #615055
    &-title
        position: relative
        font-size: 64px
        margin: auto
        
    &-cont
        margin-bottom: 20px
        position: relative
        font-size: 18px
        line-height: 27px
        width: 250px
        text-align: left
    &-icons
        width: 150px
        position: relative
        display: flex
    &-contain
        position: relative
        margin-top: 20px
        width: 174px
        text-align: left