.tex-types
    width: 100%
    height: 709px
    background-color: #E6EBE0
.type-wrap
    height: 709px
    &__title
        display: flex
        position: relative
        height: 73px
        top: 10.5%
        color: #262B39
        font-size: 64px
    &__slider
        position: relative
        height: 540px
        top: 12%
        &-buttons
            display: flex
            position: relative
            align-content: center
            justify-content: space-between
            width: 92px
            height: 32px
            margin: auto
            top: 94%