@mixin mobile_title-middle {
    .wrap-title__main-title {
        font-size: 72px;
        text-align: center;
        margin-top: 70px;
    }
    .wrap-title {
        background-image: url('../img/wrap-header.png');
        background-position: center;
        height: 100%;
        background-repeat: no-repeat;
    }
    .header {
        background-color: #dfe0e4;
        background-image: none;
    }
    .wrap-title__buttons {
        margin-top: 60vh;
    }
    .wrap-title__sub {
        width: 409px;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
    }
    .wrap-title__description {
        margin: 0 auto;
    }
    .wrap-title__sub-title, .wrap-title__description {
        font-size: 16px;
    }
}

@mixin mobile_title-sub-middle {
    .wrap-title__main-title {
        font-size: 60px;
        text-align: center;
        margin-top: 70px;
    }
    .wrap-title {
        background-image: url('../img/wrap-header.png');
        background-position: center;
        height: 100%;
        background-repeat: no-repeat;
    }
    .header {
        background-color: #dfe0e4;
        background-image: none;
    }
    .wrap-title__buttons {
        margin-top: 60vh;
    }
    .wrap-title__sub {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
    }
    .wrap-title__sub-title, .wrap-title__description {    
        margin: auto;
        text-align: center;
        font-size: 16px;
    }
}
@mixin mobile_title-light {
    .wrap-title__main-title {
        font-family: "AeonikPro-Light";
        font-size: 45px;
        text-align: center;
        width: 100%;
        margin-top: 70px;
    }
    .wrap-title__sub-title, .wrap-title__description {    
        font-size: 16px;
        margin: auto;
    }
    // .wrap-title__sub-title {
    //     width: 300px;
    // }
    // .wrap-title__description {
    //     margin-top: 16px
    // }
    .wrap-title {
        background-image: url('../img/wrap-header.png');
        background-position: center;
        height: 100%;
        background-repeat: no-repeat;
    }
    .header {
        background-color: #dfe0e4;
        background-image: none;
    }
    .wrap-title__buttons {
        margin-top: 60vh;
    }
    .wrap-title__sub {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
    }
}