@mixin mobile-types{
    .tex-types{
        height: 700px;
    }
    .type-wrap__slider {
        height: 510px;
    }
    .type-wrap__title {
        font-size: 42px;
    }
    .type-wrap__slider-slider {
        height: 510px;
        min-width: 320px;
    }
    .slides {
        height: 510px;
        min-width: 320px;
    }
    .slide1-title, .slide2-title, .slide3-title, .slide4-title, .slide5-title, .slide6-title, .slide7-title, .slide8-title, .slide9-title {
        font-size: 42px;
    }
}