.wrap-title
    height: 100%
    &__sub
        position: relative
        display: flex
        width: 90%
        column-gap: 50px
        justify-content: space-between
        flex-wrap: flex
        flex-wrap: wrap
        margin: 0 auto
    &__sub-title
        +light
        position: relative
        display: block
        width: auto
        // max-width: 409px
        font-size: 25px
    &__main-title
        display: block
        position: relative
        justify-content: center
        text-align: center
        color: #262B39
        font-size: 120px
        margin-bottom: 10px
        margin-top: -20px
        +light
    &__description
        +light
        position: relative
        color: #2B2D36
        font-size: 25px
        display: block
        // max-width: 310px 
    &__buttons
        display: flex
        position: relative
        justify-content: center
        width: 100%
        text-align: center
        margin-top: 31vh
        &-more
            box-sizing: border-box
            // background-color: #2B2D36
            background-color: #027E72
            border: 1px solid #F49F0A
            width: 259px
            height: 47px
            color: white
            cursor: pointer
            &-text
                margin-top: 10px
                font-size: 25px