.wrap-title
    height: 788px
    width: 100%
    &__main-title
        display: flex
        position: relative
        justify-content: center
        text-align: center
        color: #262B39
        font-size: 120px
    &__description
        display: flex
        align-items: center
        justify-content: space-between
        position: relative
        color: #2B2D36
        font-size: 16px
        top: 12%
        width: 100%
        &-1
            display: inline-block
            margin-left: 10%
        &-2
            display: inline-block
            margin-right: 10%
    &__buttons
        display: flex
        position: relative
        justify-content: space-between
        top: 46%
        width: 100%
        &-take
            box-sizing: border-box
            background-color: #2B2D36
            width: 259px
            height: 47px
            border: 1px solid #2B2D36
            color: white
            margin-left: 10%
        &-achieves
            box-sizing: border-box
            background-color: #F49F0A
            border: 1px solid #F49F0A
            width: 259px
            height: 47px
            color: #2B2D36
            margin-right: 10%